@font-face {
    font-family: 'pillar-interface';
    src: url('../fonts/pillar-interface.eot?95514741');
    src: url('../fonts/pillar-interface.eot?95514741#iefix') format('embedded-opentype'),
    url('../fonts/pillar-interface.woff2?95514741') format('woff2'),
    url('../fonts/pillar-interface.woff?95514741') format('woff'),
    url('../fonts/pillar-interface.ttf?95514741') format('truetype'),
    url('../fonts/pillar-interface.svg?95514741#pillar-interface') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pillar-interface';
    src: url('../font/pillar-interface.svg?95514741#pillar-interface') format('svg');
  }
}
*/

[class^="interface-"]:before, [class*=" interface-"]:before {
    font-family: "pillar-interface";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.interface-down-open-big:before { content: '\e800'; } /* 'î €' */
.interface-left-open-big:before { content: '\e801'; } /* 'î ' */
.interface-right-open-big:before { content: '\e802'; } /* 'î ‚' */
.interface-up-open-big:before { content: '\e803'; } /* 'î ƒ' */
.interface-bag:before { content: '\e804'; } /* 'î „' */
.interface-search:before { content: '\e805'; } /* 'î …' */